html,
body {
    width: 100%;
    height: 100%;
    font-family: "Raleway" !important;
}


/*////////////////*/


/*Navbar stuff*/


/*///////////////*/

.navbar {
    background-color: rgb(214, 248, 187) !important;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar-toggle {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 40px;
}

@media(min-width: 768px) {
    .navbar .navbar-brand {
        padding: 0px 15px !important;
    }
}

.nav > li {
    padding: 4px 10px;
    text-transform: uppercase;
}

.nav> li >a:hover {
    background-color: #CF5F71;
}

.navbar .navbar-brand {
    padding: 0px 15px !important;
}

.menu > a {
    font-size: 50px;
}



/*/////////////*/

/* Middle*/

/*/////////////*/


.block {
    height: 80%;
    color: white;
    background: black;
}
/*/////////////*/


/*Footer*/


/*////////////*/

.footer {
    height: 18px;
    width: 100% !important;
    background: white !important;
    color: #AC1E58;
    position: absolute;
    text-align: center;
}

@media (min-width: 992px) {
    .footer {
        height: 25px;
        position: absolute;
    }
    .pright{
        float: right;
    }
}
/* 
@media(max-width:: 768px) {
    .footer > div.col-md-5 {
        border-bottom: 1px solid grey;
    }
}
 */

@media(max-width: 991px) {
    .footer {
        height: 10% !important;
        bottom: 0;
        position: relative;
    }
    .footer > div.col-md-5 {
        border-bottom: 1px solid grey;
    }
}


