html,
body {
    width: 100%;
    height: 100%;
    font-family: "Raleway" !important;
}


/*////////////////*/


/*Navbar stuff*/


/*///////////////*/

.navbar {
    background-color: rgb(214, 248, 187) !important;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar-toggle {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 40px;
}

@media(min-width: 768px) {
    .navbar .navbar-brand {
        padding: 0px 15px !important;
    }
}

.nav > li {
    padding: 4px 10px;
    text-transform: uppercase;
}

.nav> li >a:hover {
    background-color: #CF5F71;
}

.navbar .navbar-brand {
    padding: 0px 15px !important;
}

.menu > a {
    font-size: 50px;
}


/*/////////////*/


/* Middle*/


/*/////////////*/

.block {
    height: 80%;
    color: black;
    background: rgba(23, 24, 137, 0.83);
    padding-bottom: 15px;
}

.blpadd {
    padding-top: 100px;
}

#map {
    width: 95%;
    height: 250px;
    margin: 0 auto;
}

hr {
    display: block;
    border-top: 1px solid white;
    border-color: #191919;
    margin: 15px auto;
}

@media (min-width: 767px) {
    .pright1 {
        float: right;
    }
    hr {
        margin: 0px auto;
    }
}
@media (max-width: 767px){
    .pright1{
        text-align: center;
        position: relative;
            }
    .section-title{
        text-align: center;
    }
    .footer-social-icons > a{
        text-align: center;
    }
    .blpadd{
        padding-left: 10%;
        padding-right: 10%; 
    }
}
.section-title {
    position: relative;
    margin: 25px 0px;
}

.section-title .title-text {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

.section-title .slogan {
    color: #999999;
    letter-spacing: 0.6px;
}

.contact-form {
    position: relative;
}

.contact-form .form {
    position: relative;
    margin-bottom: 20px;
}

.contact-form .form .form-group input[type='text'],
.contact-form .form .form-group input[type='password'],
.contact-form .form .form-group input[type='email'],
.contact-form .form .form-group textarea {
    background-color: white;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-color: #191919;
}

.contact-form .form .form-group input[type='text']:focus,
.contact-form .form .form-group input[type='password']:focus,
.contact-form .form .form-group input[type='email']:focus,
.contact-form .form .form-group textarea:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    border-color: #333333;
    color: #999999;
}

.contact-form .form .form-group .btn-submit {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    background-color: #0a0a0a;
    border-color: #191919;
}

.contact-form .form .form-group .btn-submit:hover {
    border-color: #333333;
}

.all-addresses {
    position: relative;
}

.all-addresses .fa-ul li {
    line-height: 32px;
    font-weight: 100;
    letter-spacing: 1px;
}

.all-addresses .fa-ul li i {
    font-size: 20px;
}

.all-addresses .fa-ul li a {
    color: white;
}

.footer-social-icons {
    position: relative;
    margin-top: 15px;
}

.footer-social-icons .be-social {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
}

.footer-social-icons .icons {
    position: relative;
    margin-top: 5px;
    display: table;
}

.footer-social-icons .icons a {
    color: white;
    display: inline-block;
    margin-right: 5px;
    text-decoration: none;
}

.footer-social-icons .icons a:hover .fa {
    background-color: white;
    color: #0d0d0d;
}

.footer-social-icons .icons .fa {
    position: relative;
    font-size: 18px;
    width: 40px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
}

.hot-links {
    position: relative;
    margin-bottom: 20px;
}

.hot-links .links ul {
    margin: 0px;
}

.hot-links .links ul li {
    margin: 0px;
    list-style-type: square;
}

.hot-links .links ul li a {
    color: #999999;
}

.sub-footer {
    background-color: #030303;
    padding: 10px 0px;
    font-weight: 100;
    letter-spacing: 1.5px;
}


/*/////////////*/


/*Footer*/


/*////////////*/

.footer {
    height: 18px;
    width: 100% !important;
    background: white !important;
    color: #AC1E58;
    position: absolute;
    text-align: center;
}

@media (min-width: 992px) {
    .footer {
        height: 25px;
        position: absolute;
    }
    .pright {
        float: right;
    }
}


/* 
@media(max-width:: 768px) {
    .footer > div.col-md-5 {
        border-bottom: 1px solid grey;
    }
}
 */

@media(max-width: 991px) {
    .footer {
        height: 10% !important;
        bottom: 0;
        position: relative;
    }
    .footer > div.col-md-5 {
        border-bottom: 1px solid grey;
    }
}
