html,
body {
    width: 100%;
    height: 100%;
    font-family: "Raleway" !important;
}


/*////////////////*/


/*Navbar stuff*/


/*///////////////*/

.navbar {
    background-color: rgb(214, 248, 187) !important;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar-toggle {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 40px;
}

@media(min-width: 768px) {
    .navbar .navbar-brand {
        padding: 0px 15px !important;
    }
}

.nav > li {
    padding: 4px 10px;
    text-transform: uppercase;
}

.nav> li >a:hover {
    background-color: #CF5F71;
}

.navbar .navbar-brand {
    padding: 0px 15px !important;
}

.menu > a {
    font-size: 50px;
}


/*/////////////////////*/


/*Early access part*/


/*/////////////////////*/

.early-access {
    background-color: rgba(119, 232, 28, 0.3);
    /*Remove these*/
}

.early-access > div .col-md-5 {
    vertical-align: middle;
}

.early-access-div {
    margin: 0 auto;
}

.form-early-access {
    padding-top: 17px !important;
}

.form-early-access > input {
    height: 50px;
    background-color: #F3F0E9;
    -input-placeholder {
        color: black;
    }
    -webkit-input-placeholder {
        color: black;
    }
    -ms-input-placeholder {
        color: black;
    }
    -moz-placeholder {
        color: black;
    }
    -o-input-placeholder {
        color: black;
    }
}

.sbtn {
    background: #AC1E58;
    color: white;
}


/*/////////////*/


/*Footer*/


/*////////////*/

.footer {
    height: 18px;
    width: 100% !important;
    background: white !important;
    color: #AC1E58;
    position: absolute;
    text-align: center;
    bottom: 25px;
}

@media (min-width: 992px) {
    .footer {
        height: 25px;
        position: absolute;
    }
    .pright {
        float: right;
    }
}


/* 
@media(max-width:: 768px) {
    .footer > div.col-md-5 {
        border-bottom: 1px solid grey;
    }
}
 */

@media(max-width: 991px) {
    .footer {
        height: 10% !important;
        bottom: 0;
        position: relative;
    }
    .footer > div.col-md-5 {
        border-bottom: 1px solid grey;
    }
}


/*/////////////*/


/*block*/


/*////////////*/

.block {
    min-height: 600px;
    padding-top: 100px;
}

.frame {
    width: 140px;
    height: 0px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    cursor: pointer;
}

.frame1 {
    left: -45px;
    top: -92px;
}

.frame2{ 
    left: 242px;
    top: 3px;
}

.frame3{
    left: 531px;
    top: -18px;
}

.frame4{
    top: 87px;
    left: 459px;
}

.frame5{
    top: 68px;
    left: 315px;
}

.frame6{
    top: -202px;
    left: 458px;
}

.frame7{
    top: -222px;
    left: 314px;
}

.frame:hover .hex-inner {
    height: 60px;
    top: 90px !important;
    border-radius: 4px;
}

.frame:hover .label1 {
    transform: scale(.90);
    -webkit-transform: scale(.90);
}

.frame8 {
    left: 22px;
    top: 8px;
}

.frame9 {

    /*208 left:-49         342 -20*/
    left: -49px;    /*391 minus*/
    top: 268px;       
    /*228 minus */
}

.frame10 {
    left: -123px;
    top: 124px;
}

.frame11 {
    left: 166px;
    top: 102px;
}

.frame12 {
    left: 94px;
    top: 207px;
}

.frame13 {
    left: -51px;
    top: -61px;
}

.frame14 {
    left: 94px;
    top: -81px;
}

.hide2 {
    display: none;
}

.frame15 {
    left: 100px;
    top: 5px;
}
.frame16 {
    left: -343px;
    top: 9px;
}

.frame17 {
    left: -199px;
    top: -10px;
}

.frame18 {
    left: -416px;
    top: 93px;
}

.frame19 {
    left: -130px;
    top: 75px;
}

.frame20 {
    left: -346px;
    top: 178px;
}

.frame21 {
    left: -202px;
    top: 159px;
}
.hide3 {
    display: none;
}

.hex-outer {
    background: #ABF8FF;
    width: 140px;
    height: 80px;
}

.hex-inner {
    background: #373940;
    width: 130px;
    height: 75px;
    position: relative;
    left: 5px;
    top: 82px !important;
    border-radius: 0;
    transition: all .4s;
    -webkit-transition: all .4s;
}

.h1 {
    position: absolute;
    top: 80px;
}

.h2 {
    position: absolute;
    top: 80px;
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
}

.h3 {
    position: absolute;
    top: 80px;
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
}

.label1 {
    height: 140px;
    width: 140px;
    position: relative;
    color: #ABF8FF;
    font-weight: bold;
    font-size: 16px;
    left: 3px;
    top: 80px;
    padding-left: 30px;
    padding-top: 50px;
    transition: all .4s;
    -webkit-transition: all .4s;
}


/* .back {
    top: 40%;
    left: 20%;
    display: none;
    position: absolute;
    cursor: pointer;
} */


/* .show{
    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
}
.hide{
    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
} */

.hide1 {
    display: none;
    /*         transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s; */
}
